<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">

    <welcome-file-list>
        <welcome-file>signin</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.synisys.go.Task.commons.system.init.Initializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>com.synisys.go.Task.presentation.servlet.SigninServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>com.synisys.go.Task.presentation.servlet.SignoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.synisys.go.Task.presentation.servlet.UserInfoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>signUpServlet</servlet-name>
        <servlet-class>com.synisys.go.Task.presentation.servlet.SignUpServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/userInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>signUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>

</web-app>
